@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

$Linear-Gradient: hsl(236, 72%, 79%), hsl(237, 63%, 64%);
$Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
$Light-Grayish-Blue: hsl(234, 14%, 74%);
$Grayish-Blue: hsl(233, 13%, 49%);
$Dark-Grayish-Blue: hsl(232, 13%, 33%);

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

main {
  height: 100vh;
  width: 100vw;
  background-color: $Very-Light-Grayish-Blue;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.background-cont-top {
  height: 100%;
  width: 50%;
  background-image: url(./images/bg-top.svg);
  background-repeat: no-repeat;
  background-position: right top;
}

.background-cont-bottom {
  height: 100%;
  width: 50%;
  background-image: url(./images/bg-bottom.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.app {
  position: absolute;
  width: 900px;
  gap: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: $Grayish-Blue;
    font-size: 40px;
  }

  .toggle-cont {
    display: flex;
    align-items: center;
    gap: 25px;

    p {
      color: $Grayish-Blue;
    }
  }
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .side {
    height: 450px;
    width: 350px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    border-radius: 10px;
    box-shadow: rgb(105, 111, 221, 0.2) 0px 8px 24px;

    h2 {
      color: $Grayish-Blue;
      font-size: 16px;
      margin-bottom: 20px;
    }

    h3.price {
      color: $Dark-Grayish-Blue;
      font-size: 70px;
      display: flex;
      align-items: center;
      margin-bottom: 25px;

      span {
        font-size: 30px;
      }
    }

    .p-cont {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 1px $Light-Grayish-Blue solid;
      width: 100%;

      &.last {
        border-bottom: 1px $Light-Grayish-Blue solid;
      }
    }

    p {
      color: $Grayish-Blue;
    }

    button {
      all: unset;
      background-image: linear-gradient(to right, $Linear-Gradient);
      width: 100%;
      height: 45px;
      color: white;
      font-size: 13px;
      letter-spacing: 3px;
      text-align: center;
      border-radius: 10px;
      margin-top: 30px;
      border: 1px solid hsl(237, 63%, 64%);

      &:hover {
        cursor: pointer;
      }

      &:active {
        border: 1px solid hsl(237, 63%, 64%);
        color: hsl(237, 63%, 64%);
        background-color: white;
        background-image: none;
      }
    }

    &.center {
      background-image: linear-gradient(to bottom right, $Linear-Gradient);
      height: 500px;
      
      h2 {
        color: white;
      }

      h3 {
        color: white;
      }

      p {
        color: white;
      }

      .center-btn {
        background-image: none;
        background-color: white;
        color: hsl(237, 63%, 64%);
        border: 1px solid white;

        &:active {
          border: 1px solid white;
          background-color: hsl(237, 63%, 64%);
          color: white;
          background-image: none;
        }
      }
    }
  }
}

//CheckBox styling

.checkbox-wrapper-7 .tgl {
  display: none;
}
.checkbox-wrapper-7 .tgl,
.checkbox-wrapper-7 .tgl:after,
.checkbox-wrapper-7 .tgl:before,
.checkbox-wrapper-7 .tgl *,
.checkbox-wrapper-7 .tgl *:after,
.checkbox-wrapper-7 .tgl *:before,
.checkbox-wrapper-7 .tgl + .tgl-btn {
  box-sizing: border-box;
}
.checkbox-wrapper-7 .tgl::-moz-selection,
.checkbox-wrapper-7 .tgl:after::-moz-selection,
.checkbox-wrapper-7 .tgl:before::-moz-selection,
.checkbox-wrapper-7 .tgl *::-moz-selection,
.checkbox-wrapper-7 .tgl *:after::-moz-selection,
.checkbox-wrapper-7 .tgl *:before::-moz-selection,
.checkbox-wrapper-7 .tgl + .tgl-btn::-moz-selection,
.checkbox-wrapper-7 .tgl::selection,
.checkbox-wrapper-7 .tgl:after::selection,
.checkbox-wrapper-7 .tgl:before::selection,
.checkbox-wrapper-7 .tgl *::selection,
.checkbox-wrapper-7 .tgl *:after::selection,
.checkbox-wrapper-7 .tgl *:before::selection,
.checkbox-wrapper-7 .tgl + .tgl-btn::selection {
  background: none;
}
.checkbox-wrapper-7 .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.checkbox-wrapper-7 .tgl + .tgl-btn:after,
.checkbox-wrapper-7 .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.checkbox-wrapper-7 .tgl + .tgl-btn:after {
  left: 0;
}
.checkbox-wrapper-7 .tgl + .tgl-btn:before {
  display: none;
}
.checkbox-wrapper-7 .tgl:checked + .tgl-btn:after {
  left: 50%;
}

.checkbox-wrapper-7 .tgl-ios + .tgl-btn {
  background: hsl(237, 63%, 64%);
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
  border: 1px solid #e8eae9;
}
.checkbox-wrapper-7 .tgl-ios + .tgl-btn:after {
  border-radius: 2em;
  background: #fbfbfb;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}
.checkbox-wrapper-7 .tgl-ios + .tgl-btn:hover:after {
  will-change: padding;
}
.checkbox-wrapper-7 .tgl-ios + .tgl-btn:active {
  box-shadow: inset 0 0 0 2em #e8eae9;
}
.checkbox-wrapper-7 .tgl-ios + .tgl-btn:active:after {
  padding-right: 0.8em;
}
.checkbox-wrapper-7 .tgl-ios:checked + .tgl-btn {
  background: hsl(237, 63%, 64%);
}
.checkbox-wrapper-7 .tgl-ios:checked + .tgl-btn:active {
  box-shadow: none;
}
.checkbox-wrapper-7 .tgl-ios:checked + .tgl-btn:active:after {
  margin-left: -0.8em;
}

.checkbox-wrapper-7:hover {
  filter: opacity(60%);
}


//responsivnes